parameters:
    level: 7
    paths:
        - src
        - tests
        - webroot
    autoload_files:
        - tests/bootstrap.php
    earlyTerminatingMethodCalls:
        Cake\Console\Shell:
            - abort
    ignoreErrors:
        # This ignore rule an be removed once the patch is released:
        # PR link: https://github.com/phpstan/phpstan/pull/1588
        # Issue link: https://github.com/phpstan/phpstan/issues/1585
        - '#Function ldap_control_paged_result_response invoked with 3 parameters, 4 required.#'
includes:
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/timeweb/phpstan-enum/extension.neon
